@use '../../assets/scss/base/index' as b;
.ag_container{
    position:relative;
    width:90%;
    max-width:400px;
    background:b.$bg_container;
    border-radius:10px;
    padding:40px 10px;  
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
@media (min-width:768px) {
    .ag_container{
        max-width:500px;
    }
}